
:root {
    --color-white: #F5F5F5;
    --color-gris: #2E2D33;
    --color-vino: #790614;
    --color-input: #000000c0;
    --color-barra-menu: #F9F6EC;
    --color-letras-menu: #000000;
}

body {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

.sidebar {
    background-color: #790614; /* Rojo intenso */
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}

.sidebar img {
    max-width: 100px;
    margin-bottom: 20px;
}

.sidebar .footer {
    border-top: 1px solid white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.main-content {
    margin-left: 250px;
    padding: 20px;
}

.table-actions a, .table-actions form {
    margin-right: 10px;
}

.btn-add {
    background-color: #790614;
    color: white;
}

.btn-add:hover {
    background-color: #a21b1b;
}