:root {
    --color-white: #F5F5F5;
    --color-gris: #2E2D33;
    --color-vino: #790614;
    --color-input: #000000c0;
    --color-barra-menu: #F9F6EC;
    --color-letras-menu: #000000;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color:#b6303f ;
    
}

.fondo{
    filter: blur(5px);
}

.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: #343a40;
    font-weight: 700;
}

.button_volver {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d6efd;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
}

.button_volver:hover {
    background-color: #004080;
    text-decoration: none;
}

table thead {
    background-color: #0d6efd;
    color: #fff;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}