:root {
    --color-white: #F5F5F5;
    --color-gris: #2E2D33;
    --color-vino: #790614;
    --color-input: #000000c0;
    --color-barra-menu: #F9F6EC;
    --color-letras-menu: #000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ICONO WHASTAPP */
.icono-whatsapp {
    position: fixed;
    bottom: 1em;
    left: 1em;
    font-size: 2.5em;
    z-index: 1000;
    /*esta propiedad sirve para colocar elemntos por encima o detras , colocar un numero positivo y grande para sobreponerlo*/
    background-color: #25d366;
    padding: 0.2em;
    border-radius: 100%;
    border: #31d344 solid 2px;
    box-shadow: 3px 3px 2px var(--sombras);
}

/* INICIO DE ESTILOS DE MENU */
.navbar {
    background-color: var(--color-barra-menu);
    height: 80px;
    z-index: 10000000;
}

.logo_menu {
    height: 70px;
    width: 120px;
}

.login_button {
    background-color: #790614;
    color: white;
    font-size: 1em;
    padding: 8px 20px;
    border-radius: .5em;
    text-decoration: none;
    transition: 0.3s background-color;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;

}

.login_button:hover {
    background-color: var(--color-white);
    color: var(--color-letras-menu);
    border: 1.5px solid #790614;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: var(--color-letras-menu);
    font-family: "Inder", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.nav-link:hover,
nav-link.active {
    color: var(--color-vino);
}

@media(min-width:991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--color-gris);
        visibility: hidden;
        transition: 0.3s ease-in-out;
        z-index: 100000;
    }

    .nav-link::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}
/* FIN DE ESTILOS DE MENU */
/* INICIO DE ESTILOS DEL BANNER DE RECOMENDACIONES */
.banner-container {
    position: relative;
    width: 100%;
    height: 500px;
    background: url('../images/artesanias.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    opacity: 0.9;
}

.banner-title {
    font-size: 5rem;
    color: var(--color-white);
    margin-bottom: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.banner-title-p{
    font-size: 2rem;
    color: var(--color-white);
    margin-bottom: 20px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* INICIO SECCION DE NOSOTROS */
.seccion_nosotros{
    background-color: var(--color-vino);
}

.nosotros h1{
    color: var(--color-white);
    text-align: center;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nosotros img{
    border-radius: 50%;
    height: 480px;
    width: 480px;
    margin-left: 50px;
}

.nosotros_contenido{
    color:var(--color-barra-menu);
    text-align: center;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}
/* FIN DE SECCION DE NOSOTROS */

/* INICIO DE SECCION DE PRODUCTOS */
.seccion_productos{
    background-color: var(--color-barra-menu);
}
.seccion_productos h1{
    color: var(--color-vino);
    text-align: center;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

.card-title{
    text-align: center;
    color: var(--color-white);
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.card-body{
    background-color: var(--color-vino);
    border-radius: 0px 0px 5px 5px;
}

.card-body h5{
    color: var(--color-white);
}
.card{
    transition: all 400ms ease;
}
.contenido del{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

.contenido h1{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: yellow;
}
.card:hover{
    transform: translateY(-1%);
}

.button_more{
    justify-content: center;
    align-items: center;
    display: flex;
}
.button_more a{
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-vino);
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
}

.button_more a:hover{
    background-color: var(--color-white);
    color: var(--color-vino);
    border: 1px solid var(--color-vino);
}
/* FIN DE SECCION DE PRODUCTOS */

/* INICIO ESTILOS FOOTER */
footer{
    text-align: center;
    align-items: center;
    padding: .5em;
    background-color: var(--color-vino);
    border-top: 3px solid var(--color-red);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}

.logo_footer{
    border-right: 2px solid var(--color-red);
}
.logo_footer img{
    width: 200px;
    height: 200px;
    text-align:center ;
}

.contactos_footer h1{
    color: var(--color-white);
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    text-align: start;
}

.contactos_footer ul{
    color: var(--color-white);
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: start;
}
.nosotros_footer{
    color: var(--color-white);
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    text-align: center;
}
/* FIN ESTILOS FOOTER */

.button_car{
    padding: 5px;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    text-align: center;
    border-radius: 8px;
    border-style: none;
    border: 1px solid var(--color-gris);
    background-color: var(--color-white);
}

.btn_vercarrito{
    text-decoration: none;
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-vino);
    margin-right: 15px;
}

.title_products{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    font-size: 2.3em;
    text-align: center;
    padding: 10px;
}

.btn_ver{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--color-barra-menu);
    color: var(--color-vino);
    padding: 2px 8px 2px 8px;
    border-radius: 5px;
    border-style: none;
    
}

.modal-title{
    color: var(--color-vino);
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    text-align: center;
}

.modal-p{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    text-align: center;
    color: var(--color-gris);
}

.modal-price{
    font-family: "Inder", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8em;
    text-align: center;
    color: var(--color-vino);
}